.contacto {
    @include flex (row wrap, space-around, center);
    text-align: center;
    padding-top: 1.5em;
    ul {
        padding: 0em 0.4em;
    }
    &__horarios {
        @include flex (column wrap);
        text-align: center;
        gap: 1.5em;
    }
    &__direccion {
        @include flex (column wrap, flex-start, center);
        padding: 0.8em;
        gap: 1.2em;
    }
}


