header {
    background-color: $clrPrincipal;
}
.menu {
        text-transform: uppercase;
        ul {
            font-size: 1.4em;
            font-weight: 500;
            a {
                margin: 0.4em;
                letter-spacing: 0.1em ;
                color: #ffffff !important;
                padding: 10px;                        
                &:hover{
                    color: $negro !important;
                    border-bottom: 1px solid $negro;
                    transition: 0.5s;
                    }
            }
        }        
}



