.logo {
    width: 5em;
    padding-left: 0.5em;
}

.btn {
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0em 0.2em;
    border-radius: 0.30em;
    background: #ffffff;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-style: italic;

    &:hover {
        text-decoration: underline;
    }
    &-ppal {
        @extend .btn;
        background-color: $clrPrincipal;
        color: $marron;
        font-weight: 600;
    }
    &-lrg {
        @include flex (row, center, strech);
        justify-items: center;
        width: 80%;
        text-align: center;
        font-size: 1.1em;
    }
}

.centrado {
    @include flex (row, center);
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1.5;
    &-der {
        @extend .centrado;
        justify-content: right;
    }
    &-izq {
        @extend .centrado;
        justify-content: left;
    }
}

.formulario {
    @include flex (column wrap, flex-start, center);
    text-align: center;
    margin: 1.7em;
    &__article {
        margin: 20px;
    padding: 20px;
    border-radius: 0.7em;
    background-color: $fondoFormularios;
    }
}

.mapa {
    border-radius: 1em;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.redes{
    font-size: 2rem;
    margin: 0.2em;
    &__instagram {
        &:hover {
            color: $instagram;
            transition: 0.2s;
        }
    }
    &__instagram--animation{
        &:hover {
            transform: rotate(360deg);
            transition: 0.7s;
        }
    }
    &__facebook {
        &:hover {
            color: $facebook;
            transition: 0.2s;
        }
    }
    &__facebook--animation {
        &:hover {
            transform: rotate(360deg);
            transition: 0.7s;
        }
    }

    @media (max-width: 500px) {
        font-size: 1.5rem;
        margin: 0.1em;
    }
}

